<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add lockItem="false" key="badAccountType1" value="100"/>
    <add lockItem="false" key="badAccountType2" value="200"/>
    <add lockItem="false" key="badAccountType3" value="300"/>
    <add lockItem="false" key="badWithdrawalAmount1" value="3000"/>
    <add lockItem="false" key="badWithdrawalAmount2" value="3000"/>
    <add lockItem="false" key="badWithdrawalAmount3" value="3000"/>
  </appSettings>
</configuration>